{% extends 'layout.html' %}

{% block meta_title %}Items image editor › #{{ current_item_id }} {{ current_item.name }}{% endblock %}

{% block content %}
    <div class="center w1140p">
        <h2 class="mbn">Items image editor › #{{ current_item_id }} {{ current_item.name }}</h2>

        {% if current_item.image_do_not_exists %}
            <div class="alert info pas mts">This item doesn't have image.</div>
        {% elif current_item.image_out_of_date %}
            <div class="alert info pas mts">This item's image must be updated.</div>
        {% endif %}

        <div class="grid has-gutter">
            <div>
                <p class="mbs"><strong>Current Craft N' Escape image:</strong></p>
                <div class="wiki-image txtcenter pas">
                    <img src="{{ url_for('static', filename='images/items/' + current_image['name']) }}">
                </div>
            </div>
            <div>
                <p class="mbs"><strong>Current Wiki image:</strong></p>
                <div class="wiki-image txtcenter pas">
                    <img src="{{ current_wiki_image['url'] }}">
                </div>
            </div>
        </div>

        <p><strong>Available Wiki images:</strong></p>

        <div id="app">
            <div v-show="loading" class="txtcenter bigger"><i class="fa fa-cog fa-spin"></i> Loading...</div>
            <div v-cloak>
                <p><label>Filter by image name <input type="text" v-model="image_name"></label> <a href="#" title="Clear filter" @click.prevent="image_name = ''"><i class="fa fa-eraser"></i></a></p>

                <div class="grid-4 has-gutter mts">
                    <div v-for="(wiki_image, wiki_image_name) in filteredWikiImages" class="wiki-image txtcenter mbs pas">
                        <img :src="wiki_image.url"><br>${ wiki_image_name }
                    </div>
                </div>
            </div>
        </div>

        <p class="txtcenter">
            <a href="{{ url_for('items_image_editor') }}" class="btn"><i class="fa fa-chevron-left"></i> Back</a>
            <button type="submit"><i class="fa fa-save"></i> Save</button>
        </p>
    </div>

    <script src="https://unpkg.com/vue@2.4.1/dist/vue{% if not config['DEBUG'] %}.min{% endif %}.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
        Vue.config.silent = {{ 'false' if config['DEBUG'] else 'true' }};

        var vue_delimiters = ['${', '}']; // Because Jinja2 already uses double brackets

        var app = new Vue({
            delimiters: vue_delimiters,
            el: '#app',
            data: {
                loading: true,
                image_name: '',
                wiki_images: {{ wiki_images|tojson }}
            },
            mounted: function() {
                this.$nextTick(function () {
                    this.loading = false;
                });
            },
            computed: {
                filteredWikiImages: function() {
                    var filtered_wiki_images = {};

                    for (var wiki_image_name in this.wiki_images) {
                        var wiki_image = this.wiki_images[wiki_image_name];
                        var match = true;

                        if (this.image_name) {
                            match = (wiki_image_name.toLowerCase().indexOf(this.image_name.toLowerCase()) !== -1);
                        }

                        if (match) {
                            filtered_wiki_images[wiki_image_name] = wiki_image;
                        }
                    }

                    return filtered_wiki_images;
                }
            }
        });
     </script>
{% endblock %}