{% extends 'layout.html' %}

{% block meta_title %}Recipes editor{% endblock %}

{% block content %}
    <div class="center w1140p">
        <h2 class="mbn">Recipes editor</h2>

        <p><span class="txtred">Red items</span> have a crafting recipe in the game but this recipe isn't defined in Craft N' Escape.</p>
        <p><span class="txtblue">Blue items</span> have their crafting recipe updated in the game. It has to be updated in Craft N' Escape as well.</p>
        <p>Items that doesn't have a crafting recipe aren't listed.</p>

        <div class="grid-4 mts">
            {% for item_id, item in items.items() %}
                <div>
                    <a href="{{ url_for('recipes_editor_item', item_id=item_id) }}" title="Edit this item crafting recipe"><i class="fa fa-pencil"></i></a> #{{ item_id }} <a href="http://theescapists.gamepedia.com/Special:Search/{{ item.name }}" title="{{ item.info }}" class="{{ 'txtred' if item.recipe_do_not_exists else '' }}{{ 'txtblue' if item.recipe_out_of_date else '' }}">{{ item.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}