{% extends 'layout.html' %}

{% block meta_title %}Recipes editor › #{{ current_item_id }} {{ current_item.name }}{% endblock %}

{% block content %}
    <div class="center w1140p">
        <h2 class="mbn">Recipes editor › #{{ current_item_id }} {% if current_item._img_ext %}<img src="{{ url_for('static', filename='images/items/' + current_item_id + current_item._img_ext) }}" style="max-width: 36px">{% endif %} {{ current_item.name }} (INT: {{ current_item.craft.intelligence }})</h2>

        {% if current_item.recipe_do_not_exists %}
            <div class="alert info pas mts">This recipe does not exists in the Craft N' Escape recipe list.</div>
        {% elif current_item.recipe_out_of_date %}
            <div class="alert info pas mts">This recipe must be updated in Craft N' Escape.</div>
        {% endif %}

        <p><strong>Game's raw recipe:</strong></p>

        <pre>{{ current_item.craft._recipe }}</pre>

        <p><strong>Craft N' Escape recipe:</strong></p>

        <form method="post" action="{{ url_for('recipes_editor_item', item_id=current_item_id) }}">
            <input type="hidden" name="_recipe_hash" value="{{ current_item.craft._recipe_hash }}">

            <div id="app">
                <div v-show="loading" class="txtcenter bigger"><i class="fa fa-cog fa-spin"></i> Loading...</div>
                <div v-cloak>
                    <input type="hidden" name="recipe_items" :value="JSON.stringify(currentRecipe.items)">
                    <template v-for="(recipe_item, index) in currentRecipe.items">
                        <item :recipe_items.sync="currentRecipe.items" :items="items" :recipe_item="recipe_item" :key="index" v-if="!_.isArray(recipe_item)"></item>
                        <fieldset v-if="_.isArray(recipe_item)">
                            <legend>One of</legend>

                            <item :recipe_items.sync="recipe_item" :items="items" :recipe_item="one_of_recipe_item" :key="one_of_index" v-for="(one_of_recipe_item, one_of_index) in recipe_item"></item>
                            <div class="alert error pas mts" v-show="!recipe_item || _.isEmpty(recipe_item)">None at this moment.</div>

                            <p>
                                <a href="#" @click.prevent="addItem(recipe_item)"><i class="fa fa-plus"></i> Add an item</a>
                                <a href="#" @click.prevent="currentRecipe.items.splice(currentRecipe.items.indexOf(recipe_item), 1)"><i class="fa fa-remove"></i> Remove this group</a>
                            </p>
                        </fieldset>
                    </template>
                    <div class="alert error pas mts" v-show="!currentRecipe.items || _.isEmpty(currentRecipe.items)">None at this moment.</div>
                    <p>
                        <a href="#" @click.prevent="addItem(currentRecipe.items)"><i class="fa fa-plus"></i> Add an item</a>
                        <a href="#" @click.prevent="addOneOfGroup()"><i class="fa fa-plus"></i> Add a "One of" group</a>
                    </p>
                </div>
            </div>

            <p class="txtcenter">
                <a href="{{ url_for('recipes_editor') }}" class="btn"><i class="fa fa-chevron-left"></i> Back</a>
                <button type="submit"><i class="fa fa-save"></i> Save</button>
            </p>
        </form>
    </div>

    <template id ="item">
        <div class="mts">
            <itemsfilter :recipe_item.sync="recipe_item" :items="items"></itemsfilter>
            <input type="number" min="1" required v-model.number="recipe_item.amount" class="w100p">
            <a href="#" @click.prevent="recipe_items.splice(recipe_items.indexOf(recipe_item), 1)" title="Remove this item"><i class="fa fa-remove"></i></a>
        </div>
    </template>

    <template id="itemsfilter">
        <span>
            <a href="#" title="Clear filter" @click.prevent="query = ''"><i class="fa fa-eraser"></i></a>
            <input type="text" class="w200p" placeholder="Filter by item ID or name" v-model="query">
            <select required v-model.number="recipe_item.id" class="w300p">
                <option value="">Select an item</option>
                <option v-for="item in filteredItems" :value="item.id">#${ item.id } ${ item.name }</option>
            </select>
        </span>
    </template>

    <script src="https://unpkg.com/vue@2.4.1/dist/vue{% if not config['DEBUG'] %}.min{% endif %}.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
        Vue.config.silent = {{ 'false' if config['DEBUG'] else 'true' }};

        items = {{ items|tojson }};
        current_recipe = {{ current_recipe|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/recipes_editor.js') }}"></script>
{% endblock %}