/************************************************************************
 * Global styles */

body {
    color: #FFF;
    background-color: #00191B;
}

.txtmuted {
    color: #AAA;
}

.txtred {
    color: #dd3b3b !important;
}

.txtblue {
    color: #1da2ea !important;
}

[v-cloak] {
  display: none;
}

/************************************************************************
 * Links */

a,
a:visited {
    text-decoration: underline;
    color: #ffdb0c;
}

a:hover,
a:focus {
    color: #ffdb0c;
    text-decoration: none;
    outline: none;
}

/************************************************************************
 * Items */

.item .summary {
    white-space: nowrap;
}

.item .fa {
    cursor: help;
}

/************************************************************************
 * Forms */

fieldset {
    border: 0.1rem solid #303030;
    border-radius: 0.5rem;
}

/************************************************************************
 * Alerts */

.alert {
    border-radius: 0.5rem;
    border: 0.1rem solid;
}

.alert a,
.alert a:visited,
.alert a:hover,
.alert a:focus {
    color: inherit;
}

.alert.success {
    background-color: #266806;
    color: #FFF;
    border-color: #31871d;
}

.alert.error {
    background-color: #770909;
    color: #FFF;
    border-color: #ab1c1c;
}

.alert.info {
    background-color: #064b99;
    color: #FFF;
    border-color: #0075bf;
}

/************************************************************************
 * Items list */

.items-list > span {
    border-radius: 0.5rem;
    border: 0.1rem solid #00454b;
    background-color: #002b2f;
}

/************************************************************************
 * Header */

header {
    border-left: 0.1rem solid #303030;
    border-right: 0.1rem solid #303030;
    border-bottom: 0.1rem solid #303030;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #0e3163;
    display: table;
}

header > * {
    display: table-cell;
}

header .logo {
    vertical-align: middle;
}

header h1 {
    font-family: monospace, monospace;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

/************************************************************************
 * Buttons */

button,
.btn,
.btn:visited {
    border-radius: 0.5rem;
    background-color: #0e3163;
    border: 0.1rem solid #154d9e;
    padding: 0.5rem 1rem;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

button:hover, .btn:hover,
button:focus, .btn:focus {
    background-color: #16407d;
    color: #FFF;
    outline: none;
}

/************************************************************************
 * Inputs */

input,
select,
textarea {
    background-color: #181818;
    border: 0.1rem solid #303030;
    border-radius: 0.5rem;
    color: #FFF;
}

input,
textarea {
    padding: 0.5rem 1rem;
}

select {
    padding: 0.2rem 1rem;
}

/************************************************************************
 * Tables */

.table-responsive {
    overflow-x: auto;
}

table,
table td,
table th {
    border: 0.1rem solid #303030;
    table-layout: auto;
}

table td,
table th {
    padding: .4em;
}

table th {
    background-color: #0e3163;
    vertical-align: middle;
}

table tr:nth-child(even) td {
    background-color: #022023;
}

table tbody > tr:hover td {
    background-color: #03282c;
}