/************************************************************************
 * Global styles */

body {
    color: #FFF;
    background-color: #00191B;
}

[v-cloak] {
  display: none;
}

h2 {
    border-bottom: 0.1rem solid #484848;
}

.pill {
    border-radius: 0.8rem;
    border: 0.1rem solid #00454b;
    background-color: #002b2f;
    display: inline-block;
    white-space: nowrap;
}


/************************************************************************
 * Text colors */

.txtmuted {
    color: #AAA;
}

.txtred {
    color: #dd3b3b !important;
}

.txtblue {
    color: #1da2ea !important;
}

/************************************************************************
 * Links */

a,
a:visited {
    text-decoration: underline;
    color: #ffdb0c;
}

a:hover,
a:focus {
    color: #ffdb0c;
    text-decoration: none;
    outline: none;
}

/************************************************************************
 * Items */

.item .summary-cell,
.item .name-cell {
    white-space: nowrap;
}

.item-name img {
    max-width: 32px;
}

.item .fa {
    cursor: help;
}

.items .recipe-item {
    margin-bottom: 0.4em;
}

/************************************************************************
 * Forms */

fieldset {
    border: 0.1rem solid #484848;
    border-radius: 0.5rem;
}

/************************************************************************
 * Alerts */

.alert {
    border-radius: 0.5rem;
    border: 0.1rem solid;
}

.alert a,
.alert a:visited,
.alert a:hover,
.alert a:focus {
    color: inherit;
}

.alert.success {
    background-color: #266806;
    color: #FFF;
    border-color: #31871d;
}

.alert.error {
    background-color: #770909;
    color: #FFF;
    border-color: #ab1c1c;
}

.alert.info {
    background-color: #064b99;
    color: #FFF;
    border-color: #0075bf;
}

/************************************************************************
 * Header */

header,
header .content {
   display: table;
}

header .content {
    border-left: 0.1rem solid #34457e;
    border-right: 0.1rem solid #34457e;
    border-bottom: 0.1rem solid #34457e;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #0e3163;
}

header > *,
header .content > * {
    display: table-cell;
    vertical-align: middle;
}

header .content h1 {
    font-family: monospace, monospace;
}

header .content a,
header .content a:hover {
    text-decoration: none;
}

/************************************************************************
 * Buttons */

button,
input[type="button"][type="submit"],
.btn,
.btn:visited {
    border-radius: 0.5rem;
    background-color: #0e3163;
    border: 0.1rem solid #154d9e;
    padding: 0.5rem 1rem;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

button:hover, button:focus,
.btn:hover, .btn:focus,
input[type="button"][type="submit"]:hover, input[type="button"][type="submit"]:focus {
    background-color: #16407d;
    color: #FFF;
    outline: none;
}

/************************************************************************
 * Inputs */

button,
input,
optgroup,
select,
textarea,
.btn {
    line-height: 1.5;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

input,
select,
textarea {
    background-color: #292929;
    border: 0.1rem solid #484848;
    border-radius: 0.5rem;
    color: #FFF;
}

/************************************************************************
 * Tables */

.table-responsive {
    overflow-x: auto;
}

table,
table td,
table th {
    border: 0.1rem solid #303030;
    table-layout: auto;
}

table td,
table th {
    padding: .4em;
}

table th {
    background-color: #0e3163;
    vertical-align: middle;
    border-color: #34457e;
}

table tr:nth-child(even) td {
    background-color: #022023;
}

table tbody > tr:hover td {
    background-color: #03282c;
}

/************************************************************************
 * Footer */

footer a,
footer a:visited,
footer a:hover,
footer a:focus {
    color: inherit;
}