{% extends 'layout.html' %}

{% block content %}
    {% if items %}
        <div id="app">
            <div class="grid has-gutter">
                <div>
                    <fieldset class="man ptn">
                        <legend><i class="fa fa-filter"></i> Filters</legend>
                        <div class="grid-3">
                            <div><label>Item name <input type="text" v-model="filters.name"></label></div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset class="man ptn">
                        <legend><i class="fa fa-gavel"></i> What can I craft?</legend>

                        <p class="mbs"><strong>Add an item you own:</strong></p>

                        <form v-on:submit.prevent="addItemIOwn()">
                            <select required v-model="whatCanICraft.addItem.item" class="w300p">
                                <option value="">Select an item</option>
                                <option v-for="item in componentItems" :value="item">${ item.name }</option>
                            </select>
                            <input type="number" min="1" value="1" required v-model.number="whatCanICraft.addItem.amount" class="w100p">
                            <button type="submit" title="Add to the list of items you own"><i class="fa fa-plus"></i></button>
                        </form>

                        <p class="mbs" v-show="whatCanICraft.itemsIOwn.length > 0"><strong>Items you own:</strong></p>

                        <div class="items-list">
                            <span class="pas inbl mrs" v-for="itemIOwn in whatCanICraft.itemsIOwn">
                                <itemname :item="itemIOwn.item" :escapistswikisearch="escapistsWikiSearch"></itemname>

                                <template v-if="itemIOwn.amount > 1">x ${ itemIOwn.amount }</template>
                                <a href="#" title="Remove from the list of items you own" @click.prevent="whatCanICraft.itemsIOwn.splice(whatCanICraft.itemsIOwn.indexOf(itemIOwn), 1)"><i class="fa fa-remove"></i></a>
                            </span>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="table-responsive">
                <table class="mts mbn">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Summary</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th><a href="http://theescapists.gamepedia.com/Stats#OPN_.28Opinion.29">OPN</a> increase<br><small>when given</small></th>
                            <th>Decay<br><small>decrease % per use</small></th>
                            <th>Required <a href="http://theescapists.gamepedia.com/Intellect">INT</a><br><small>for crafting</small></th>
                            <th>Defense power</th>
                            <th>Healing power</th>
                            <th>Attack power</th>
                            <th>Digging power</th>
                            <th>Chipping power</th>
                            <th>Unscrewing power</th>
                            <th>Cutting power</th>
                            <th>Only found in</th>
                            <th><a href="http://theescapists.gamepedia.com/Fatigue">Fatigue</a> decrease<br><small>when eat</small></th>
                            <th>Camera disruption<br><small>in seconds</small></th>
                            <!--<th>carry</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in filteredItems" class="item">
                            <td>${ item.id }</td>
                            <td class="summary">
                                <i class="fa fa-star" v-if="item.found" title="Map-specific"></i>
                                <i class="fa fa-medkit" v-if="item.hp" title="Can heal you"></i>
                                <i class="fa fa-bomb" v-if="item.weapon" title="Can hurt people"></i>
                                <i class="fa fa-spoon" v-if="item.digging" title="Can dig tunnels"></i>
                                <i class="fa fa-crop" v-if="item.chipping" title="Can chop things"></i>
                                <i class="fa fa-wrench" v-if="item.unscrewing" title="Can unscrew things"></i>
                                <i class="fa fa-scissors" v-if="item.cutting" title="Can cut things"></i>
                                <i class="fa fa-android" v-if="item.npc_carry" title="Can be carried by NPCs"></i>
                                <i class="fa fa-desktop" v-if="item.desk" title="Can be found in desks"></i>
                                <i class="fa fa-video-camera" v-if="item.camdis" title="Can disrupt cameras"></i>
                                <i class="fa fa-male" v-if="item.outfit" title="Outfit (provides defense)"></i>
                                <i class="fa fa-chain-broken" v-if="item.decay" title="Can broke"></i>
                                <i class="fa fa-gavel" v-if="item.craft" title="Can be crafted"></i>
                            </td>
                            <td>
                                <itemname :item="item" :escapistswikisearch="escapistsWikiSearch"></itemname>
                            </td>
                            <td><template v-if="item.buy">$${ item.buy }</template></td>
                            <td><template v-if="item.gift">+${ item.gift }</template></td>
                            <td>${ item.decay }</td>
                            <td><template v-if="item.craft">${ item.craft.intelligence }</template></td>
                            <td>${ item.outfit }</td>
                            <td><template v-if="item.hp">+${ item.hp }</template></td>
                            <td>${ item.weapon }</td>
                            <td>${ item.digging }</td>
                            <td>${ item.chipping }</td>
                            <td>${ item.unscrewing }</td>
                            <td>${ item.cutting }</td>
                            <td><template v-if="item.found"><a :href="escapistsWikiSearch + getFound(item.found)">${ getFound(item.found) }</a></template></td>
                            <td><template v-if="item.fat">-${ item.fat }</template></td>
                            <td><template v-if="item.camdis">${ item.camdis / 1000 }</template></td>
                            <!--<td><i class="fa fa-check" v-if="item.carry"></i></td>-->
                        </tr>
                        <tr v-show="filteredItems.length == 0">
                            <td colspan="17" class="txtcenter"><div class="alert info pas">Nothing to display.</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <template id="itemname">
            <a :href="escapistswikisearch + item.name" :title="item.info" :class="[item.illegal ? 'txtred' : '']">${ item.name }</a>
        </template>

        <script src="https://unpkg.com/vue@2.4.1/dist/vue{% if not config['DEBUG'] %}.min{% endif %}.js"></script>
        <script>
            Vue.config.silent = {{ 'false' if config['DEBUG'] else 'true' }};

            var vue_delimiters = ['${', '}']; // Because Jinja2 already uses double brackets

            var ItemName = {
                delimiters: vue_delimiters, 
                template: '#itemname',
                props: ['item', 'escapistswikisearch']
            };

            var app = new Vue({
                delimiters: vue_delimiters,
                el: '#app',
                data: {
                    items: {{ items|tojson }},
                    recipes: {{ recipes|tojson }},
                    escapistsWikiSearch: '{{ config['ESCAPISTS_WIKI_ROOT'] }}Special:Search/',
                    filters: {
                        name: ''
                    },
                    whatCanICraft: {
                        addItem: {
                            item: '',
                            amount: 1,
                        },
                        itemsIOwn: []
                    }
                },
                components: {
                    'itemname': ItemName
                },
                computed: {
                    componentItems: function() {
                        var self = this;

                        return this.items.filter(function(item) {
                            for (var i = 0; i < self.recipes.length; i++) {
                                var recipe = self.recipes[i];

                                for (var j = 0; j < recipe.items.length; j++) {
                                    var recipe_item = recipe.items[j];

                                    if (item.id == recipe_item.id) {
                                        return true;
                                    }
                                }
                            }

                            return false;
                        });
                    },
                    filteredItems: function () {
                        if (this.whatCanICraft.itemsIOwn.length > 0) {
                            var what_can_i_craft = [];
                            var items_i_own_ids = this.whatCanICraft.itemsIOwn.map(function(item_i_own) {
                                return item_i_own.item.id;
                            });

                            for (var j = 0; j < this.recipes.length; j++) {
                                var recipe = this.recipes[j];
                                var recipe_items_ids = recipe.items.map(function(recipe_item) {
                                    return recipe_item.id;
                                });

                                // Items I own aren't all present in the item recipe
                                if (items_i_own_ids.sort().toString() != recipe_items_ids.sort().toString()) {
                                    break;
                                }

                                var add_to_what_can_i_craft = true;

                                for (var i = 0; i < this.whatCanICraft.itemsIOwn.length; i++) {
                                    var itemIOwn = this.whatCanICraft.itemsIOwn[i];

                                    for (var k = 0; k < recipe.items.length; k++) {
                                        var recipe_item = recipe.items[k];

                                        if (itemIOwn.item.id == recipe_item.id && itemIOwn.amount < recipe_item.amount) {
                                            add_to_what_can_i_craft = false;
                                            break;
                                        }
                                    }

                                    if (!add_to_what_can_i_craft) {
                                        break;
                                    }
                                }

                                if (add_to_what_can_i_craft && !(recipe.id in what_can_i_craft)) {
                                    what_can_i_craft.push(recipe.id);
                                }
                            }
                        }

                        var self = this;

                        return this.items.filter(function(item) {
                            var name = can_i_craft = true;

                            if (('name' in item) && self.filters.name) {
                                name = item.name.toLowerCase().indexOf(self.filters.name.toLowerCase()) !== -1;
                            }

                            if (self.whatCanICraft.itemsIOwn.length > 0) {
                                can_i_craft = what_can_i_craft.indexOf(item.id) !== -1;
                            }

                            return name && can_i_craft;
                        });
                    }
                },
                methods: {
                    addItemIOwn: function() {
                        // If the item to add is already present in the items I own list, just increment its amount
                        var already_present = false;

                        for (var i = 0; i < this.whatCanICraft.itemsIOwn.length; i++) {
                            var itemIOwn = this.whatCanICraft.itemsIOwn[i];

                            if (itemIOwn.item.id == this.whatCanICraft.addItem.item.id) {
                                already_present = i;
                                break;
                            }
                        }

                        if (already_present === false) {
                            this.whatCanICraft.itemsIOwn.push({
                                item: this.whatCanICraft.addItem.item,
                                amount: this.whatCanICraft.addItem.amount
                            });
                        } else {
                            this.whatCanICraft.itemsIOwn[already_present].amount += this.whatCanICraft.addItem.amount;
                        }

                        this.whatCanICraft.addItem.item = '';
                        this.whatCanICraft.addItem.amount = 1;
                    },
                    getFound: function(found) {
                        switch (found) {
                            case 'irongate':
                                return 'HMP-Irongate';
                            break;
                            case 'perks':
                                return 'Center Perks';
                            break;
                            case 'jungle':
                                return 'Jungle Compound';
                            break;
                            case 'stalagflucht':
                                return 'Stalag Flucht';
                            break;
                            case 'sanpancho':
                                return 'San Pancho';
                            break;
                            case 'escapeteam':
                                return 'Escape Team';
                            break;
                            case 'DTAF':
                                return 'Duct Tapes Are Forever';
                            break;
                            case 'SS':
                                return 'Santa\'s Sweatshop';
                            break;
                            default:
                                return null;
                        }
                    }
                }
            });
        </script>
    {% endif %}
{% endblock %}