{% extends 'layout.html' %}

{% block meta_title %}{{ game_name }} items{{ ' › ' + permalink_item.name if permalink_item }}{% endblock %}

{% block meta_description -%}
    {% if permalink_item -%}
        Details and crafting recipes for the {{ permalink_item.name }} item in {{ game_name }}.
    {%- else -%}
        {{ super() }}
    {%- endif %}
{%- endblock %}

{% set canonical_url = url_for('home', game_version=None if game_version == 1 else game_version, item_id=permalink_item.id if permalink_item else None, item_slug=permalink_item.name_slug if permalink_item else None, _external=True) %}

{% set meta_image = url_for('static', filename='images/items/{game_version}/{item_id}{ext}'.format(game_version=game_version, item_id=permalink_item.id, ext=permalink_item._img_ext), _external=True) if permalink_item and game_version == 1 %}

{% block content %}
    {%- if game_version == 2 -%}
        <div class="alert info pas mtm mbm w600p center txtcenter pas"><i class="fa fa-info-circle"></i> The items list shown below is <strong>out of date</strong> in addition of The Escapists 2 support being very limited at this moment.</div>
    {%- endif -%}

    <div id="app">
        <div v-show="loading" class="txtcenter bigger"><i class="fa fa-cog fa-spin"></i> Loading...</div>
        <div v-cloak>
            <div class="grid has-gutter">
                <div>
                    <fieldset class="man ptn">
                        <legend><i class="fa fa-filter"></i> Filters <a href="#" title="Clear all filters" @click.prevent="clearAllFilters()"><i class="fa fa-eraser"></i></a></legend>

                        <div class="grid-3 has-gutter mts" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
                            <meta itemprop="target" content="{{ home_link }}?item_name_or_id={item_name_or_id}"/>

                            <div>
                                <label>Name or ID <input type="text" v-model="filters.name_or_id" name="item_name_or_id" itemprop="query-input"></label>
                                <a href="#" title="Clear this filter" @click.prevent="filters.name_or_id = ''"><i class="fa fa-eraser"></i></a>
                            </div>

                            {% if game_version == 1 %}
                                <div>
                                    Map
                                    <select v-model="filters.found_in_map">
                                        <option value="">Any</option>
                                        <option v-for="(map_name, map_id) in maps[game_version]" :value="map_id">${ map_name }</option>
                                    </select>
                                    <a href="#" title="Clear this filter" @click.prevent="filters.found_in_map = ''"><i class="fa fa-eraser"></i></a>
                                </div>
                             {% endif %}
                        </div>

                        <div class="grid-3 has-gutter mts">
                            <div><label><input type="checkbox" v-model="filters.is_buyable"> <i class="fa fa-dollar fa-fw"></i> Can be bought</label></div>
                            <div><label><input type="checkbox" v-model="filters.can_be_offered"> <i class="fa fa-gift fa-fw"></i> Can be offered</label></div>

                            {% if game_version == 1 %}
                                <div><label><input type="checkbox" v-model="filters.can_heal"> <i class="fa fa-medkit fa-fw"></i> Can heal you</label></div>
                                <div><label><input type="checkbox" v-model="filters.can_hurt"> <i class="fa fa-bomb fa-fw"></i> Can hurt people</label></div>
                                <div><label><input type="checkbox" v-model="filters.can_dig"> <i class="fa fa-spoon fa-fw"></i> Can dig tunnels</label></div>
                                <div><label><input type="checkbox" v-model="filters.can_chop"> <i class="fa fa-crop fa-fw"></i> Can chop things</label></div>
                                <div><label><input type="checkbox" v-model="filters.can_unscrew"> <i class="fa fa-wrench fa-fw"></i> Can unscrew things</label></div>
                                <div><label><input type="checkbox" v-model="filters.can_cut"> <i class="fa fa-scissors fa-fw"></i> Can cut things</label></div>
                                <div><label><input type="checkbox" v-model="filters.is_carried"> <i class="fa fa-android fa-fw"></i> Can be carried by NPCs</label></div>
                                <div><label><input type="checkbox" v-model="filters.is_in_desks"> <i class="fa fa-desktop fa-fw"></i> Can be found in desks</label></div>
                                <div><label><input type="checkbox" v-model="filters.can_disrupt_cameras"> <i class="fa fa-video-camera fa-fw"></i> Can disrupt cameras</label></div>
                                <div><label><input type="checkbox" v-model="filters.is_outfit"> <i class="fa fa-male fa-fw"></i> Outfits (provides defense)</label></div>
                                <div><label><input type="checkbox" v-model="filters.is_craftable"> <i class="fa fa-gavel fa-fw"></i> Can be crafted</label></div>
                            {% endif %}

                            <div><label><input type="checkbox" v-model="filters.is_illegal"> <i class="fa fa-exclamation-circle fa-fw"></i> Is illegal (<span class="txtred">red items</span>)</label></div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset class="man ptn">
                        <legend><i class="fa fa-gavel"></i> What can I craft?</legend>

                        {% if game_version == 1 %}
                            <p><label><input type="checkbox" v-model="allow_partial_match"> Allow partial crafting recipe match</label></p>

                            <p class="mbs"><strong>Add an item you own:</strong></p>

                            <itemiownform :items_i_own.sync="itemsIOwn" :items="componentItems"></itemiownform>

                            <p class="mbs" v-show="!_.isEmpty(itemsIOwn)"><a href="#" title="Remove all" @click.prevent="itemsIOwn = []"><i class="fa fa-eraser"></i></a> <strong>Items you own:</strong></p>

                            <p v-show="!_.isEmpty(itemsIOwn)">
                                <span class="pill recipe-item pas mrs" v-for="itemIOwn in itemsIOwn">
                                    <itemname :item="items[itemIOwn.id]" :itemid="itemIOwn.id" :escapistswikisearch="escapistsWikiSearch"></itemname>

                                    <template v-if="itemIOwn.amount > 1">x ${ itemIOwn.amount }</template>
                                    <a href="#" title="Remove" @click.prevent="itemsIOwn.splice(itemsIOwn.indexOf(itemIOwn), 1)"><i class="fa fa-remove"></i></a>
                                </span>
                            </p>
                        {% else %}
                            <p>This feature is not yet available for The Escapists 2.</p>
                        {% endif %}
                    </fieldset>
                </div>
            </div>
            <div class="table-responsive">
                <table class="items mts mbn">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Summary</th>
                            <th>Name</th>
                            <th>Base price</th>
                            <th><a href="http://theescapists.gamepedia.com/Stats#OPN_.28Opinion.29">OPN</a> {{ 'increase' if game_version == 1 else 'change' }}<br><small>when offered{{ '' if game_version == 1 else ' to inmate, guard' }}</small></th>

                            {% if game_version == 1 %}
                                <th>Decay<br><small>decrease % per use</small></th>
                                <th>Required <a href="http://theescapists.gamepedia.com/Intellect">INT</a><br><small>for crafting</small></th>
                                <th>Crafting recipe</th>
                                <th>Defense power</th>
                                <th>Healing power</th>
                                <th>Attack power</th>
                                <th>Digging power</th>
                                <th>Chipping power</th>
                                <th>Unscrewing power</th>
                                <th>Cutting power</th>
                                <th>Only found in</th>
                                <th><a href="http://theescapists.gamepedia.com/Fatigue">Fatigue</a> decrease<br><small>when eat</small></th>
                                <th>Camera disruption<br><small>in seconds</small></th>
                            {% endif %}

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in filteredItems" class="item">
                            <td>${ item.id }</td>
                            <td class="summary-cell">
                                <i class="fa fa-dollar" v-if="item.buy" title="Can be bought"></i>
                                <i class="fa fa-gift" v-if="item.gift" title="Can be offered"></i>

                                {% if game_version == 1 %}
                                    <i class="fa fa-star" v-if="item.found" title="Map-specific"></i>
                                    <i class="fa fa-medkit" v-if="item.hp" title="Can heal you"></i>
                                    <i class="fa fa-bomb" v-if="item.weapon" title="Can hurt people"></i>
                                    <i class="fa fa-spoon" v-if="item.digging" title="Can dig tunnels"></i>
                                    <i class="fa fa-crop" v-if="item.chipping" title="Can chop things"></i>
                                    <i class="fa fa-wrench" v-if="item.unscrewing" title="Can unscrew things"></i>
                                    <i class="fa fa-scissors" v-if="item.cutting" title="Can cut things"></i>
                                    <i class="fa fa-android" v-if="item.npc_carry" title="Can be carried by NPCs"></i>
                                    <i class="fa fa-desktop" v-if="item.desk" title="Can be found in desks"></i>
                                    <i class="fa fa-video-camera" v-if="item.camdis" title="Can disrupt cameras"></i>
                                    <i class="fa fa-male" v-if="item.outfit" title="Outfit (provides defense)"></i>
                                    <i class="fa fa-chain-broken" v-if="item.decay" title="Can break"></i>
                                    <i class="fa fa-gavel" v-if="item.craft" title="Can be crafted"></i>
                                {% endif %}
                            </td>
                            <td class="name-cell">
                                <itemname :item="item" :itemid="item.id" :escapistswikisearch="escapistsWikiSearch"></itemname>
                            </td>
                            <td><template v-if="item.buy">$${ item.buy }</template></td>
                            <td>
                                <template v-if="item.gift && game_version == 1">
                                    +${ item.gift }
                                </template>
                                <template v-if="item.gift && game_version == 2">
                                    <span class="pill pas">${ (item.gift[0] > 0 ? '+' : '') + item.gift[0] }</span>
                                    <span class="pill pas">${ (item.gift[1] > 0 ? '+' : '') + item.gift[1] }</span>
                                </template>
                            </td>

                            {% if game_version == 1 %}
                                <td>${ item.decay }</td>
                                <td><template v-if="item.craft">${ item.craft.intelligence }</template></td>
                                <td class="pbn">
                                    <template v-if="item.craft">
                                        <template v-for="(recipe_item, index) in item.craft.recipe_items">
                                            <recipeitem :escapistswikisearch="escapistsWikiSearch" :items="items" :recipe_item="recipe_item" :key="index" v-if="!_.isArray(recipe_item)"></recipeitem>
                                            <template v-if="_.isArray(recipe_item)">
                                                <template v-for="(one_of_recipe_item, one_of_index) in recipe_item">
                                                    <recipeitem :escapistswikisearch="escapistsWikiSearch" :items="items" :recipe_item="one_of_recipe_item" :key="one_of_index"></recipeitem>
                                                    <template v-if="one_of_index < (recipe_item.length - 1)"> or </template>
                                                </template>
                                            </template>

                                            <template v-if="index < (item.craft.recipe_items.length - 1)"> + </template>
                                        </template>
                                    </template>
                                </td>
                                <td>${ item.outfit }</td>
                                <td><template v-if="item.hp">+${ item.hp }</template></td>
                                <td>${ item.weapon }</td>
                                <td>${ item.digging }</td>
                                <td>${ item.chipping }</td>
                                <td>${ item.unscrewing }</td>
                                <td>${ item.cutting }</td>
                                <td><template v-if="item.found"><a :href="escapistsWikiSearch + maps[game_version][item.found]">${ maps[game_version][item.found] }</a></template></td>
                                <td><template v-if="item.fat">-${ item.fat }</template></td>
                                <td><template v-if="item.camdis">${ item.camdis / 1000 }</template></td>
                            {% endif %}

                            <td><a :href="item.permalink" :title="'Permalink to the ' + item.name +' item'"><i class="fa fa-link"></i></a></td>
                        </tr>
                        <tr v-show="_.isEmpty(filteredItems)">
                            <td colspan="18" class="txtcenter"><div class="alert info pas">Nothing to display.</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <template id="recipeitem">
        <span class="pill recipe-item pas">
            <itemname :item="items[recipe_item.id]" :itemid="recipe_item.id" :escapistswikisearch="escapistswikisearch"></itemname>

            <template v-if="recipe_item.amount > 1">x ${ recipe_item.amount }</template>
        </span>
    </template>

    <template id="itemname">
        <span class="item-name">
            <img :src="'images/items/{{ game_version }}/' + itemid + item._img_ext" v-if="item._img_ext"> <a :href="escapistswikisearch + item.name" :title="item.info" :class="[item.illegal ? 'txtred' : '']">${ item.name }</a>
        </span>
    </template>

    <template id="itemiownform">
        <form v-on:submit.prevent="addItemIOwn()">
            <a href="#" title="Clear filter" @click.prevent="query = ''"><i class="fa fa-eraser"></i></a>

            <input type="text" class="w200p" placeholder="Filter by item name" v-model="query">

            <select required v-model="addItem.id" class="w300p">
                <option value="">Select an item</option>
                <option v-for="item in filteredItems" :value="item.id">${ item.name }</option>
            </select>

            <input type="number" min="1" value="1" required v-model.number="addItem.amount" class="w100p">
            <button type="submit" title="Add"><i class="fa fa-plus"></i></button>
        </form>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue{{ '.min' if not config['DEBUG'] }}.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
        Vue.config.silent = {{ 'false' if config['DEBUG'] else 'true' }};

        items = {{ items|tojson }};
        game_version = {{ game_version }};

        ESCAPISTS_WIKI_DOMAIN = '{{ config['ESCAPISTS_WIKI_DOMAIN'] }}';

        item_name_or_id = '{{ permalink_item.id if permalink_item else request.args.get('item_name_or_id', '') }}';
    </script>
    {% assets 'js_home' %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
{% endblock %}
