{% if not game_version or game_version == 1 %}
    {% set home_link = url_for('home') %}
    {% set game_name = 'The Escapists' %}
    {% set game_logo = 'the_escapists_logo.png' %}
    {% set game_icon = 'the_escapists_icon.png' %}

    {% set home_switch_link = url_for('home', game_version=2) %}
    {% set game_switch_name = 'The Escapists 2' %}
{% elif game_version == 2 %}
    {% set home_link = url_for('home', game_version=2) %}
    {% set game_name = 'The Escapists 2' %}
    {% set game_logo = 'the_escapists_2_logo.png' %}
    {% set game_icon = 'the_escapists_2_icon.png' %}

    {% set home_switch_link = url_for('home') %}
    {% set game_switch_name = 'The Escapists' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{% block meta_description %}Items and crafting recipes for {{ game_name }}, on one filterable page. Because everyone loves it when a plan comes together.{% endblock %}">

    <title>{% block meta_title %}{% endblock %}{% if self.meta_title() | trim %} • {% endif %}Craft N' Escape</title>

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Craft N' Escape">
    <meta property="og:title" content="{{ self.meta_title() }}">
    <meta property="og:description" content="{{ self.meta_description() }}">
    <meta property="og:image" content="{{ meta_image if meta_image else url_for('static', filename='images/logo.png', _external=True) }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('static', filename='opensearch_te1.xml') }}" title="Item search: The Escapists 1">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('static', filename='opensearch_te2.xml') }}" title="Item search: The Escapists 2">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/alsacreations/KNACSS/6.1.2/css/knacss.css">
    {% assets 'css_app' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}

    {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}

    <meta name="google-site-verification" content="5SnehkHAbGot_8LRmf-bSQMV__hduhMrTPLgTEXBCGQ" />
</head>
<body class="man pls prs pbs" itemscope itemtype="http://schema.org/WebSite">
    <header class="mbs center">
        <div class="left txtcenter pas">
            <div class="txtleft prs">
                <a href="{{ home_link }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
            </div>
            <div>
                <div class="txtcenter">
                    <h1 class="man"><a href="{{ home_link }}">Craft N' Escape</a></h1>
                </div>
                <div class="txtcenter small">
                    <em>Because everyone loves it when a plan comes together</em>
                </div>
            </div>
        </div>
        {% if game_version %}
            <div class="right txtcenter pas smaller">
                You are using:<br/>
                <img src="{{ url_for('static', filename='images/' + game_icon) }}"> <img src="{{ url_for('static', filename='images/' + game_logo) }}"><br/>
                <a href="{{ home_switch_link }}">Click to switch to {{ game_switch_name }}</a>
            </div>
        {% endif %}
    </header>

    {% if is_local() %}
        <div class="txtcenter">
            <a href="{{ url_for('recipes_editor') }}">Recipes editor</a>
        </div>
    {% endif %}

    {% with flash_messages = get_flashed_messages(with_categories=true) %}
      {% if flash_messages %}
        <div class="pas center w1140p">
        {% for category, message in flash_messages %}
          <p class="alert {{ category }} pas">{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}

    <footer class="small grid txtmuted pts" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Craft N' Escape">
        <meta itemprop="url" content="https://craft-n-escape.com/">
        <meta itemprop="logo" content="{{ url_for('static', filename='images/the_escapists_icon.png', _external=True) }}">

        <div>
            © 2017 - 2018 <a href="https://epoc.fr"><img src="{{ url_for('static', filename='images/epoc.png') }}"></a> <a href="https://epoc.fr">Maxime "Epoc" G.</a><br>
            This site is not affiliated with Mouldy Toof Studios / Team17 Digital.<br>
            All The Escapists / The Escapists 2 assets © 2015 - 2018 Mouldy Toof Studios / Team17 Digital.
        </div>
        <div class="txtright">
            <a href="https://theescapists.gamepedia.com/The_Escapists_Wiki">The Escapists Wiki</a> • <a href="https://www.reddit.com/r/theescapists/">The Escapists on Reddit</a> • Steam: <a href="http://steamcommunity.com/app/298630">The Escapists 1</a> • <a href="http://steamcommunity.com/app/641990">The Escapists 2</a><br><br>
            Any feedback? Post a message <a href="https://steamcommunity.com/app/298630/discussions/0/1471968797464250630/">in this Steam discussions topic</a>.
        </div>
    </footer>

    {% if config['GAUGES_SITE_ID'] %}
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '{{ config['GAUGES_SITE_ID'] }}');
            t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
            t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
    {% endif %}
</body>
</html>